<%= form_with(model: schedule, local: true) do |form| %>
  <% if schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :student_id %>
    <%= form.number_field :student_id %>
  </div>

  <div class="field">
    <%= form.label :teacher_id %>
    <%= form.number_field :teacher_id %>
  </div>

  <div class="field">
    <%= form.label :date_time_start %>
    <%= form.datetime_select :date_time_start %>
  </div>

  <div class="field">
    <%= form.label :date_time_end %>
    <%= form.datetime_select :date_time_end %>
  </div>

  <div class="field">
    <%= form.label :dow_number %>
    <%= form.number_field :dow_number %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
