<div class="table-responsive-md">      
<h3><%= @header_dates %></h3>
<table id="tblx" class="  table table-sm table-striped table-bordered" cellspacing="0" width="100%" style="margin:auto;">
        <thead class="thead-light">
            <tr>
                <th>Terapeuta</th>
                <th>Hora</th>
                <th>Alumno</th>
                <th style="width:150px;">Actividad</th>
                <th>Vino</th>
                <th>Avisó</th>
                <th>Efectivo</th>
                <th>Dep. Ins.</th>
                <th>Dep. V</th>
                <th style="width:80px;">Pago</th>
                <th style="width:200px;">Notas</th>
            </tr>
        </thead>
        <tfoot>
            <tr>    
                <th>Terapeuta</th>
                <th>Hora</th>
                <th>Alumno</th>
                <th>Actividad</th>
                <th>Vino</th>
                <th>Avisó</th>
                <th>Efectivo</th>
                <th>Dep. Ins.</th>
                <th>Dep. V</th>
                <th>Monto</th>
                <th>Notas</th>
            </tr>
        </tfoot>
        <tbody> 
            <% @events.map do |event| %>
                <tr style="height: 40px;">
                    <% teacher = Teacher.find(event.teacher_id) %>
                    <% student = Student.find(event.student_id) %>
                    <% event_dynamic_attr = {} %>
                    <% if event.class.name == "Appointment" %>                         
                        <% unless event.notes == '' %>
                            <% event_dynamic_attr[:notes_tooltip_class] = 'tooltptext' %>
                        <% end %>
                    <% else %>
                        <% event_dynamic_attr[:notes_tooltip_class] = '' %>
                    <% end %>
                    <td> <%= "#{teacher.first_name} #{teacher.last_name}" %> </td>
                    <td> 
                        <strong><%= mult_days_flag == 1  ? event.date_time_start.strftime("%H:%M").to_s :
                                    event.date_time_start.strftime("%F %H:%M").to_s %></strong>
                    </td>
                    <td> <%= "#{student.first_name} #{student.last_name}" %> </td>
                    <td > <input class="form-control" type="text" placeholder="..." value="<%= event.appointment_type %>"> </input> </td>
                    <td>  
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox"  id="assistChbox">                           
                        </div>
                    </td>
                    <td>  
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox"  id="noticeChbox">                           
                        </div>
                    </td>
                    <td>  
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox"  id="cashChbox">                           
                        </div>
                    </td>
                    <td>  
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox"  id="payCashvChbox">                           
                        </div>
                    </td>
                    <td>  
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox"  id="depvChbox">                           
                        </div>
                    </td> 
                    <td><input class="form-control" type="number" width=50 min="10.0" max="10000.00" step="5.0" id="payAmountChbox" placeholder="$0.00"> </td>
                    <td style="font-size:12px;" class="tooltp" >
                        <div style="height: 40px; overflow:auto;">
                            <p class="notes_text" ><%= event.notes %></p>
                            <textarea class="notes_textarea" rows="7" cols="50"><%= event.notes %></textarea>
                        </div>
                        <div class="<%= event_dynamic_attr[:notes_tooltip_class] %>"><%= event.notes %></div>                        
                    </td>
                </tr>
            <% end %>
        </tbody>
</table>
</div>